<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vau</key>
	<string>app_name</string>
	<key>litn</key>
	<string>opi</string>
	<key>pvggv</key>
	<string>cphub</string>
	<key>rasw</key>
	<string>link</string>
	<key>xmrrk</key>
	<string>11111111</string>
	<key>nko</key>
	<string>9986sdff5s4f1123</string>
	<key>rwu</key>
	<string>9986sdff5s4y456a</string>
	<key>adsul</key>
	<string>登录界面背景图</string>
	<key>zjcacq</key>
	<string>APP启动图</string>
	<key>fklefz</key>
	<false/>
</dict>
</plist>
